<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="margin: 0;">
  <div style="background-color:black;padding: 10px;">
    <a style="margin-right: 10px;text-decoration: none; color: white; font-size: 1.5rem;" href="/">TestUtils.in</a>
    <a style="margin-right: 10px;text-decoration: none; color: white;" href="/">Home</a>
    <a style="margin-right: 10px;text-decoration: none; color: white;" href="/aboutus">AboutUs</a>
    <a style="margin-right: 10px;text-decoration: none; color: white;" href="/contactUs">Contact Us</a>
  </div>
  <div style="background-color:#c3f4c3;padding: 1px;">
    <p style="color:green; font-weight:700;margin-left: 10px;">Welcome to TextUtils! <span style="font-weight:500;">your
        go-to platform for text transformations!</span></p>
  </div>
  <div style="display: flex;justify-content: center;">
    <div>

      <h2>Contact Us</h2>
      <p>If you have any questions or suggestions, please contact us at <a
          href="mailto:info@textutils.com">info@textutils.com</a>.</p>

    </div>
  </div>
</body>

</html>